.main-header {
  height: 400px;
  width: 100%;
  background-color: #c79f00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 0;
} 

.header-text {
  text-align: center;
}

@media only screen and (min-width:1024px){
  
  .second-child {
      display: flex;
      flex-direction: row;
  }
  
  .main-header {
    width: 45%;
    margin: 60px;
    margin-right: 100px;
  } 
  .nav {
    background-color: #4056A1;
  }

  .container {
    margin-right: 20px;
    margin-top: 40px;
  }  

}

  