.main-header {
  height: 400px;
  width: 100%;
  border: 1px solid green;
  background-color: #c79f00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
    border: 1px solid red;
    /* padding-top: 0; */
    margin-top: 0;
}

@media only screen and (min-width:1024px){
  
     .second-child {
      display: flex;
      flex-direction: row;
}
    .main-header{
      width: 60vw;
      border: 5px solid red;
      margin: 40px;

    } 
   .nav{
    background-color: #4056A1;
   }
  
  }

  