 .nav {
  height: 120px;
  background-color: #c79f00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #FFF;
  padding: 1.5em;
  /* < Sticky Nav bar >*/   
  position: -webkit-sticky;   
  position: sticky;   
  top: 0;   
  padding: 5px;   
  /* </ Sticky Nav bar ENDS> */
   display: flex;
  justify-content: space-between;
  align-items: center;
} 

.text-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  margin-right: 40px;
}

.text-left{
  margin-left: 20px;
  font-family: 'Bungee', cursive;
}

i.fas.fa-angle-double-down{
  font-size: 24px;
  color: blue;
}
