.tweet-container{
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.tweet-container:hover{
  box-shadow: 3px 3px red, -1em 0 .4em olive;
}

.tweet-header {
  display: flex;
  color: green;
  justify-content: space-between;
  align-items: center;
}

.identity{
  display: flex;
  width: 200px;
  justify-content: space-around;
  border: 1px dashed blue;
}

footer{
  border-top: 5px solid #5A5A5A;  
  display: flex;
  justify-content: space-between;
}

.counterErr {
  color: red;
} 


