.tweet-container{
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.tweet-container footer i:hover {
  color: red;
}

.tweet-container:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tweet-header {
  display: flex;
  color: green;
  justify-content: space-between;
  align-items: center;
}

.identity{
  display: flex;
  width: 200px;
  justify-content: space-around;
  border: 1px dashed blue;
}

footer{
  border-top: 5px solid #5A5A5A;  
  display: flex;
  justify-content: space-between;
}

.counterErr {
  color: red;
} 

#error-msg {
  color:red;
}

